.margin-menu {
	margin-top: 100px;
}

.navbar-right {
	float: right !important;
}

@media ( max-width :767px) {
	.navbar-header:after {
		clear: none;
	}
	.navbar-right {
		float: left !important;
	}
}

textarea {
	resize: none;
}

.fail_data {
	border-style: solid;
	border-color: #ff0000;
}

.footer {
  position: absolute;
  bottom: auto;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
  margin-top: 30px;
}