ul li img {
	cursor: pointer;
}
.avatar{
	width: 4.0em;
  	height: 4.5em;
  	
}

.img-responsive{
	width: 100%;
}
.avatarProduct{
	height: 10em;
	width: 10em;
}
.thumbnail {
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	width: 200px;
	height: 200px;
}

body .modal {
  width: 100%; /* desired relative width */
  margin-top:150px;
  margin-left:auto;
  margin-right:auto; 
}
.margin-gallery{
	margin-bottom: 0px;
	
}
.font-menu{
	font-size: 35px;
	color: white;
	font-weight: 300;
	margin-left: 20px;
}
.font-menu:hover{
	text-decoration: none;
	color: white;
}

.margin-menu{
	margin-top:50px;
}
.navbar-right {float: right !important;}

@media(max-width:767px)
{
    
    .navbar-header:after 
    {
    	clear: none;
    }
    .navbar-right {float: left !important;}
	
}

.headerProduct{
	margin-bottom:10px;
}

.remove-product{
	margin-bottom: 10px;
	color: red;
}

.remove-product:hover{
	color: #F6CECE;
}
