/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  /* padding-bottom: 40px; */
  color: #5a5a5a;
}
body .modal {
  width: 100%; /* desired relative width */
  margin-top:150px;
  margin-left:auto;
  margin-right:auto; 
}

.centering{
	text-align: center;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  
  top: 0;
  right: 0;
  left: 0;

}

.navbar-brand{
	font-size:25px;
}

.navbar-color{
	background-color: black;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 0px;
  padding-left: 0px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
.size-menu{
	width: 100%;
}

.form-control {
	background-color: white;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 600px;
  margin-bottom: 60px;
}


/* Declare heights because of positioning of img element */
.carousel .item {
  height: 600px;
  background: -webkit-radial-gradient( black,white); /* For Safari 5.1 to 6.0 */
  background: -o-radial-gradient( black,white); /* For Opera 11.1 to 12.0 */
  background: -moz-radial-gradient( black,white); /* For Firefox 3.6 to 15 */
  background: radial-gradient( black,white); /* Standard syntax */
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
}

.carousel-caption {
	padding-bottom: 230px;
}

.carousel-inner h3{
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
  
	font-size: 40px;
	margin-top:10px;
	margin-bottom:10px;
}

.carousel-inner p{
	color: white;
	font-weight: 200;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 18px;
	margin:0px;
}

.carousel-caption h3{
	text-align:left;
}
.carousel-caption p{
	text-align:left;
}
/*carousel*/


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 0px;
  }
  .navbar-wrapper .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 0px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
  .navbar-form .form-control {
	width: 130px;
	}
}

@media (min-width: 1200px) {
  .featurette-heading {
    margin-top: 120px;
  }
  .form-control{
  	padding-right: 0px;
  }
  .navbar-form .form-control {
	width: 560px;
	}
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
  .form-control{
  	padding-right: 0px;
  }
  
  .navbar-form .form-control {
	width: 350px;
	}
}

.navbar-right {float: right !important;}

@media(max-width:767px)
{
    
    .navbar-header:after 
    {
    	clear: none;
    }
    .navbar-right {float: left !important;}
	.drowmenu-size{
		min-width: 700px  !important;
	}
	.form-control{
		width: 560px  !important;
		display:initial !important;
	}
	.navbar-brand{
		float:none;
		line-height: 50px;
	}
	.navbar-form{
		margin-top:0px;
		margin-bottom: 0px;
	}
	.navbar-fixed-top .navbar-collapse {
		max-height: 500px;
	}

}
@media(max-width:700px)
{
    
    .navbar-header:after 
    {
    	clear: none;
    }
    .navbar-right {float: left !important;}
	.drowmenu-size{
		min-width: 650px  !important;
	}
	.form-control{
		width: 500px  !important;
		display:initial !important;
	}
	.navbar-brand{
		float:none;
		line-height: 50px;
	}

}
@media(max-width:650px)
{
    
    .navbar-header:after 
    {
    	clear: none;
    }
    .navbar-right {float: left !important;}
	.drowmenu-size{
		min-width: 600px  !important;
	}
	.form-control{
		width: 450px  !important;
		display:initial !important;
	}
	.navbar-brand{
		float:none;
		line-height: 50px;
	}

}
@media(max-width:600px)
{
    
    .navbar-header:after 
    {
    	clear: none;
    }
    .navbar-right {float: left !important;}
	.drowmenu-size{
		min-width: 500px  !important;
	}
	.form-control{
		width: 400px  !important;
		display:initial !important;
	}
	.navbar-brand{
		float:none;
		line-height: 50px;
	}

}
@media(max-width:500px)
{
    
    .navbar-header:after 
    {
    	clear: none;
    }
    .navbar-right {float: left !important;}
	.drowmenu-size{
		min-width: 450px  !important;
	}
	.form-control{
		width: 300px  !important;
		display:initial !important;
	}
	.navbar-brand{
		float:none;
		line-height: 50px;
	}

}
@media(max-width:450px)
{
    
    .navbar-header:after 
    {
    	clear: none;
    }
    .navbar-right {float: left !important;}
	.drowmenu-size{
		min-width: 400px  !important;
	}
	.form-control{
		width: 250px  !important;
		display:initial !important;
	}
	.navbar-brand{
		float:none;
		line-height: 50px;
	}

}
@media(max-width:400px)
{
    
    .navbar-header:after 
    {
    	clear: none;
    }
    .navbar-right {float: left !important;}
	.drowmenu-size{
		min-width: 350px  !important;
	}
	.form-control{
		width: 250px  !important;
		display:initial !important;
	}
	.navbar-brand{
		float:none;
		line-height: 50px;
	}

}
@media(max-width:350px)
{
    
    .navbar-header:after 
    {
    	clear: none;
    }
    .navbar-right {float: left !important;}
	.drowmenu-size{
		min-width: 300px  !important;
	}
	.form-control{
		width: 200px  !important;
		display:initial !important;
	}
	.navbar-brand{
		float:none;
		line-height: 50px;
	}

}
@media(max-width:300px)
{
    
    .navbar-header:after 
    {
    	clear: none;
    }
    .navbar-right {float: left !important;}
	.drowmenu-size{
		min-width: 250px  !important;
	}
	.form-control{
		width: 100px  !important;
		display:initial !important;
	}
	.navbar-brand{
		float:none;
		line-height: 50px;
	}

}
@media(max-width:250px)
{
    
    .navbar-header:after 
    {
    	clear: none;
    }
    .navbar-right {float: left !important;}
	.drowmenu-size{
		min-width: 200px  !important;
	}
	.form-control{
		width: 150px  !important;
		display:block !important;
	}
	.navbar-brand{
		float:none;
		line-height: 50px;
	}

}
.drowmenu-size{
	min-width: 350px;
}
.form-margin{
	margin: 10px 30px;	
}
.info{
	
	border: 1px solid;
	
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	text-align:center;
	color: #00529B;
	background-size: 50px 50px;
	background-color: #BDE5F8;
	background-image: url(http://etc-mysitemyway.s3.amazonaws.com/icons/legacy-previews/icons-256/3d-transparent-glass-icons-alphanumeric/068021-3d-transparent-glass-icon-alphanumeric-information2-ps.png);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
  margin-top: 30px;
}