.header {
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #ddd;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 17px;
  padding: 15px;
}

.wrapper {	
	margin-top: 100px;
  	margin-bottom: 100px;
}

.form-signin {
 	max-width: 85%;
 	padding: 15px 35px 45px;
  	margin: 0 auto;
  	background-color: #f5f5f5;
 	border-style: 3px inset;
 	border-color:#f5f5f5;
 	border-radius: 8%;
 	box-shadow: 10px 10px 5px #888888;
 	
}
.menu > li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  color: #898989;
}
.text{
	margin-left: -10px;	
}
.checkbox{
	margin-left: 20px;	
}
.box{
	border-radius: 10%;
}
.site-footer{
	background-color: rgba(255, 255, 255, 0.95);
  	border-top: 1px solid #ddd;
  	font-family: sans-serif;
  	font-weight: 300;
  	font-size: 17px;
 	padding: 10px;
}