.form-margin{
	margin: 10px 30px;	
}
.form-margin1{
	margin-top: 90px;	
}
.product{
	height: 10em;
	width: 10em;
}
/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}

#selected-state{
	display: none;
}

