import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body {
  background: #222;
  font-family: 'Droid Sans', sans-serif;
  color: #111;
}

#profile {
  width: 500px;
  height: auto;
  background: #f2f2f2;
  margin: 60px auto 0;
  padding: 0;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

header {
  width: 500px;
  height: 160px;
  border-bottom: 2px solid #222;
  position: relative;
  padding: 40px 0 0;
  background: url(http://imagebase.net/var/resizes/Nature/grass_003.jpg?m=1300159225);
  background-size: cover;
  text-align: center;
}

.avatar:hover + .name {
  opacity: 1;
  transition: 0.75s ease;
}

.name {
  transition: 0.75s ease;
  opacity: 0;
  color: #fff;
  font-size: 31px;
  text-shadow: 0 0 2px rgba(0,0,0,.7);
  margin-top: 5px;
}

.addfriend {
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: rgba(255,255,255,.7);
  border-radius: 3px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 27px;
  color: #659D17;
  overflow: hidden;
  transition: all 0.5s ease;
  box-shadow: 0 0 3px rgba(0,0,0,.5);
}

.addfriend:hover {
  width: 50px;
  transition: all 0.5s ease;
}

.addfriend span {
  display: block;
  float: right;
  font-size: 18px;
  line-height: 30px;
  height: 30px;
  padding-right: 5px;
}

h2 {
  text-align: center;
  color: #111;
  text-transform: uppercase;
}

.avatar {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 2px solid #fff;
  position: relative;
  margin: 0 200px;
  background: rgba(255,255,255,.7);
  transition: all 1s ease;
  box-shadow: 0 0 3px rgba(0,0,0,.5);
  overflow: hidden;
}

.avatar:hover {
  opacity: 1;
  transition: all 1s ease;
}

.about {
  width: 460px;
  height: auto;
  padding: 30px 20px;
  position: relative;
  background: #f2f2f2;
  line-height: 1.5;
  color: rgba(0,0,0,.4);
  font-size: 13px;
}

.birthday {
  width: 460px;
  height: auto;
  padding: 30px 20px;
  position: relative;
  background: #f6f6f6;
  line-height: 1.5;
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.birthday .day {
  display: inline-block;
  width: 60px;
  height: 50px;
  line-height: 50px;
  font-size: 21px;
  border-radius: 5px 0 0 5px;
  background: #ccc;
}

.birthday .year {
  display: inline-block;
  background: #e8e8e8;
  width: 60px;
  height: 50px;
  line-height: 50px;
  font-size: 21px;
  border-radius: 0 5px 5px 0;
}

.birthday .month {
  display: inline-block;
  width: 60px;
  height: 50px;
  line-height: 50px;
  font-size: 21px;
  background: #ddd;
}

.address {
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 200px;
  overflow: hidden;
}

.contact {
  width: 460px;
  height: auto;
  padding: 30px 20px;
  position: relative;
  background: #f2f2f2;
  line-height: 1.5;
  color: rgba(0,0,0,.4);
  font-size: 13px;
  text-align: center;
}

.contact a {
  display: inline-block;
  width: 130px;
  height: 30px;
  border: 1px solid #e8e8e8;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: #4D8719;
  border-radius: 5px;
  line-height: 30px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.contact a:hover {
  background: #fff;
  transition: all 0.5s ease;
}

.social {
  width: 500px;
  height: 40px;
  line-height: 40px;
  position: relative;
  background: #e8e8e8;
  text-align: center;
}

.social a {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 10px;
  font-size: 11px;
  color: rgba(0,0,0,.2);
}
.social a:hover {
  color: #1D520A;
}